/*
Copyright 2020 by ITwrx (https://itwrx.org). Released under the terms of the GPLV3 only.

This file is part of Passwords-GTK.

Passwords-GTK is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3 as published by
the Free Software Foundation.

Passwords-GTK is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Passwords-GTK.  If not, see <https://www.gnu.org/licenses/>.
*/

.help_text { color: #FFF14D; background-color: rgba(20.8, 20.8, 20.8, 0.6); padding: 2px; margin: 0 6px 0 6px; border-radius: 6px;}
.first_widget {margin-top: 20px;}
.gen_btn {padding: 8px;}
